<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" v-bind:style="monsterHealthbarStyles"></div>
        </div> 
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" v-bind:style="playerHealthbarStyles"></div>
        </div>
      </section>
      <section v-if="isGameOver" class="container">
        <h2>Game Over!</h2>
        <h3>{{gameResultText}}</h3>
        <button v-on:click="resetGame()">Start New Game</button>
      </section>
      <section v-else id="controls">
        <button v-on:click="attack()">ATTACK</button>
        <button v-bind:disabled="isSpecialAttackDisabled" v-on:click="specialAttack()">SPECIAL ATTACK</button>
        <button v-on:click="heal()">HEAL</button>
        <button v-on:click="surrender()">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="log in logs">
            <span v-bind:class="initiatorLogClasses(log.initiatedBy)">{{initiatorDispayName(log.initiatedBy)}}</span>
            <span v-if="log.event === 'attack'"> attacks with a damage of <span class="log--damage">{{log.damage}}</span></span>
            <span v-else-if="log.event === 'heal'"> heals themselves with a recovery of <span class="log--heal">{{log.recovery}}</span></span>
            <span v-else-if="log.event === 'surrender'"> surrenders</span>            
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
